.nouvel_etudiant_control {

    

    text-align: left;
  }
  
  .nouvel_etudiant__control label {
    font-weight: bold;

    display: block;
  }
  
  .nouvel_etudiant__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
  }
  
  .nouvel_etudiant__actions {
    text-align: center;
  }